<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRogKNOLbN1rhcz13GeTCIoYaxrDX49Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>460780290501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arina-Shah.Cultured</string>
	<key>PROJECT_ID</key>
	<string>cultured-11a90</string>
	<key>STORAGE_BUCKET</key>
	<string>cultured-11a90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460780290501:ios:4a1bb44db4c87a0144cbac</string>
</dict>
</plist>